
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(https://raw.githubusercontent.com/ginkgob/TheScurvyGame/main/imgAndGifs/barcomuerto.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

