
body {
    background-image: url(/imgAndGifs/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#topbox{
    display: flex;
    justify-content:space-evenly;

}

.h1{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Redressed', cursive;
}



.limon{
    display: flex;
    height: 75px;   
}