/*-----ALL-----*/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*-----BODY-----*/

#topbox {
    display: flex;
    background-color: rgb(171, 183, 247);
    justify-content: space-evenly;
    align-items: center;
}

#midbox {
    background-image:url("..//imgAndGifs/bg2hoja.gif");
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.avatar {
    align-self: center;
    height: 100px;
    width: 100px;
    display: none;
}

.h1 {
    font-family: 'Redressed', cursive;
    font-size: 40px;
}

.limon {
    height: 100px;   
}

#bottombox {
    display: flex;
    justify-content: center;
    background-color: rgb(85, 121, 173);
    height: 50vh;
}

.boxB {
    width: 45%;
    height: 70%;
    background-color: rgb(6, 78, 185);
    margin: 2%;
    border-radius: 8px;
    border-style: solid;
}

.boxbni {
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    align-items: center;
}

.boxB1 {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.boxB2 {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 19px;
    color: white;
    padding: 15px;
    font-family: 'Overlock SC', cursive;
    column-count: 2;
    column-width: 85px;
}

#button{
    background-color: rgb(85, 121, 173);
    border: rgb(85, 121, 173);
    color: white;
    font-size: 40px;
    font-family: 'Redressed', cursive;
    height: 5vh;
    width: 20vw;
    
}

#deadPlayers{
    font-size: 19px;
    height: 100%;
    color: white;
    padding: 15px;
    column-count: 2;
    column-width: 85px;
}