* {
    box-sizing: border-box;
    font-family: 'Redressed', cursive;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


