body {
    background-image: url(../imgAndGifs/barcomuerto.gif);
    background-position: center;
    background-size: cover;
}

.theEnd {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 300px;
}

.bottomsection {
    display: flex;
    justify-content: center;
}

#button{
    background-color: rgb(0, 0, 0);
    border: rgb(85, 121, 173);
    color: white;
    font-size: 40px;
    font-family: 'Redressed', cursive; 
    border-radius: 8px;
}